[2011-02-14 21:24] aslatter opened #5 "Pull unlifted ffi call into GHC ifdef"
foreign import ccall unsafe "djb_hash_offset" c_hashByteArray
    :: ByteArray# -> CLong -> CLong -> CLong -> CLong

This is outside of the GHC ifdef. I can take care of the change - this is just here in case I forget.

[2011-02-15 06:10] #5 closed, assigned to nobody

[2011-02-18 21:26] tibbe opened #6 "Potential bug in lazy Text instance"
I've once managed to make the test suite fail with:

[code]

This was on OS X 10.6.4 on a Intel Core 2 Duo.

[2011-02-21 20:08] jmaessen opened #9 "combine is rather bad on 2-character sequences"
There are numerous hash collisions for relatively short sequences of ASCII characters (this is for the String instance, but tuples of Char etc. have essentially the same problem):

[code]

Note that there are 3-way hash collisions for simple two-character strings.  It seems like a better combine function would be a good idea; a teensy bit more computation would be offset by reduced collisions and

[2011-02-21 20:40] #6 closed, assigned to nobody

[2011-02-23 12:14] lpsmith opened #10 "Constant Folding"
It would be nice if `hash` could fold constants at compile time,  so that writing things like

[code]

wouldn't repeatedly recompute the the hash for `fieldName`.    I'm not sure how to accomplish this at the moment though.

[2011-10-05 02:31] #10 closed, assigned to nobody

[2012-03-16 13:11] hvr opened #22 "caching hashable wrappers"
This is just an idea, I'd like to propose and discuss:

Sometimes the `hash` operation might be a bit more expensive, so maybe a wrapper in the style of (untested):

[code]

...would allow to be able store data with a precomputed hash-value; before I waste more time with investigating idea: what do you think of it?

[2012-03-16 13:15] hvr opened #23 "Hashable should provide type synonym for hash-values"
IMHO, `Data.Hashable` should provide a type synonym to avoid having to hard-code `Int`s (although client code is still free to use `Int`s) and help make type-signatures more self explanatory, e.g.

[code]

Then type signatures would read as

[code]

PS: This could pave the way to take it a step further, by making hash-values a `newtype Hash` to enforce type-safety (e.g. to help avoid mixing up opa

[2012-05-01 13:25] foxik opened #24 "Consider replacing Bernstein hash by FNV-1a hash."
It is my understanding that the Bernstein hash used in hashable has poor performance on binary (non-ASCII) data and has bad dispersion for short sequences.

I propose using FNV-1a hash instead (it is public domain, information draft is at http://tools.ietf.org/html/draft-eastlake-fnv-03). It has better dispersion qualities, is usable on binary data, but is very simple and structurally similar to B

[2012-05-01 13:39] foxik opened #25 "The Hashable instance of Text does not compile without GHC."
I assume nobody tries to compile Hashable without GHC, but anyway: the Hashable instance of Text uses `hashByteArrayWithSalt`, which is provided conditionally if `defined(__GLASGOW_HASKELL__)`. To be consistent, we should either
- remove the conditional compilation of `hashByteArrayWithSalt`. The `ByteArray#` is mentioned from the `Text` package, which we depend on unconditionally.
- provide insta

[2012-05-06 12:07] #25 closed, assigned to nobody

[2012-06-25 02:41] #24 closed, assigned to nobody

[2012-06-25 02:44] tibbe opened #28 "Evaluate SipHash"
SipHash is a new hash function by Bernstein et. al. the promises both good performance on short strings and cryptographic properties. The latter is useful to avoid denial of service attacks when the attacker can chose the keys that go into some hash table.

http://131002.net/siphash/siphash.pdf

Two things need to happen if we are to switch to SipHash:
1. Evaluate its performance relative to the c

[2012-09-22 16:49] bos opened #30 "Types should not use zero or other small integers as hash results"
There are some bad instances of `Hashable` that use small integers as hash results.

This is a bad idea, as it makes it trivially easy to exploit arithmetic properties to cause collisions.

Witness the definition of `combine`:

[code]

It's common for people combining hashes to write definitions like this. In this case, it is obvious that if you can fix the first hash to be zero, the result will b

[2012-11-11 19:43] #22 closed, assigned to nobody

[2012-12-12 03:16] #28 closed, assigned to nobody

[2012-12-12 03:17] #9 closed, assigned to nobody

[2012-12-12 17:35] #23 closed, assigned to nobody

[2012-12-16 06:32] tibbe opened #41 "Illegal instruction crash"
Johannes Weiß reports:

I just compiled a program and crashes "Illegal Instruction" and it's probably related to your new hashable implementation, I think.

gdb tells me

Program received signal SIGILL, Illegal instruction.
0x081daf9e in hashable_siphash24_sse2 ()

(The failing instruction is "=> pinsrd $0x1,%esi,%xmm5")

I used cabal-dev to build, hashable-1.2.0.2 installed and currently I am tes

[2012-12-17 18:45] #41 closed, assigned to nobody

[2012-12-22 00:32] polachok opened #44 "SSE usage in hashable"
Can you please limit SSE usage in hashable?

Reasons:
1) It hurts people with older gccs, like OpenBSD people (-msse4.1 is not supported by gcc 4.2.1)
2) It hurts people with older cpus. I managed to build it with clang 3.1 using --ghc-options="-pgmc clang -pgml clang -pgma clang" and get "Illegal instruction" when trying to run code using hashable.
My cpu is Genuine Intel(R) CPU T2400 @ 1.83GHz (

[2012-12-28 09:53] ndmitchell opened #45 "Segfault when run in Windows ghci"
I get a segfault with GHCi 7.6.1 on Windows XP with the following interactions:

[code]

Note that 1.2.0.2.1 is hashable repo at f649428d996f509d6222df1958f991ad3f38f76a. This segfault occured in previous versions of hashable, then went away, and has now come back.

[2012-12-30 23:03] ndmitchell opened #46 "Failure under ghci/TH on 64bit Win7"
A user has been been trying to install uniplate via Cygwin on Windows 7x64 running ghc 7.6.1, with Cabal 1.16.0.2. The compilation of Uniplate is failing related to " __imp_CryptAcquireContextA", with the error:

    ghc.exe: unable to load package `hashable-1.2.0.2'
    ghc.exe: C:\Program Files\Haskell\hashable-1.2.0.2\ghc-7.6.1\HShashable-1.2.0.2.o: unknown symbol `__imp_CryptAcquireContextA'

[2012-12-31 14:29] gdeest opened #47 "PowerPC support ?"
Hi,

Is there the slightest chance that Hashable will ever get PowerPC support ?

Thanks in advance,

Gaël Deest

[2013-01-01 21:39] tych0 opened #48 "Runtime error on Atom CPU"
Hi, I'm getting:

[code]

when I'm on an atom CPU. My `/proc/cpuinfo` says I've got sse2 support, though not sse4. A bit of googling seems to indicate that `pinsrd` is an sse4 instruction.

[2013-01-02 11:10] snoyberg opened #49 "Consistent segfaults on Windows"
Using version 1.2.0.2 of hashable from Hackage, the following program reliably segfaults (whether compiled or interpreted):

[code]

The next commit in the history (8a416d04aa70679b9cc229c9401292adff758d2e) fixes the problem. Given that that commit seems to just deal with architecture issues, this might be a CPU-specific bug instead of an OS-specific bug. Either way, I think a new version of hasha

[2013-01-05 10:21] 23Skidoo opened #50 "siphash-sse2.c must not be compiled with -msse4.1"
When compiled with `-msse4.1`, SSE 4.1 instructions are generated even for `siphash-sse2.c` (at least with gcc 4.6.3 on Linux). Can be verified by searching for `pinsrd` in the generated assembly or running this function on an older processor.

GDB session log:

[code]

[2013-01-08 09:11] kazu-yamamoto opened #52 "hashable 1.2.0.x segfaults with ByteString on 32bit Linux, GHC 7.0.4"
On 32bit Linux, hashing ByteString causes segfault:

% ghci -XOverloadedStrings

This bug introduced some between 1.1.2.5 and 1.2.0.0. This bug does not exist on 64bit Linux.

[2013-01-10 00:44] #48 closed, assigned to nobody

[2013-01-10 17:05] #50 closed, assigned to nobody

[2013-01-11 00:10] #45 closed, assigned to nobody

[2013-01-11 00:12] #44 closed, assigned to nobody

[2013-01-11 05:06] #47 closed, assigned to nobody

[2013-01-11 05:38] #52 closed, assigned to nobody

[2013-01-11 05:40] #49 closed, assigned to nobody

[2013-01-21 21:13] Ragnaroek opened #55 "persistent fails to install due to hashable"
Using ghc-7.4.2, 32 bit and cabal 1.16.0.2 on MacOS X 10.8.

Installing hashable with cabal works, but using the library with persistent gives this error:

Configuring persistent-1.1.4...
Building persistent-1.1.4...
Preprocessing library persistent-1.1.4...
[ 1 of 15] Compiling Database.Persist.Util ( Database/Persist/Util.hs, dist/build/Database/Persist/Util.o )
[ 2 of 15] Compiling Database.Per

[2013-02-01 14:43] jwaldmann opened #56 "generic-derived instance not working?"
with ghc-7.6.1, hashable-1.1.2.5, on linux, amd64, the following program can be compiled, but gives Stack space overflow at runtime.

[code]

[2013-02-01 18:42] wrvn opened #57 "Performance regression between 1.2.0.4 and 1.2.0.5"
I have noticed huge performance regression in latest hashable library.

For example, this program (http://hpaste.org/81663) runs almost 3 times slower with hashable 1.2.0.5 - 190 seconds on my pc vs 70 seconds with hashable 1.2.0.4.

This was tested on windows x86, ghc 7.6.2

[2013-02-02 12:18] #56 closed, assigned to nobody

[2013-02-06 16:50] radumarg opened #58 "hashable-1.2.0.5 failed"
Hi,

I am using GHC, Version 7.0.3. Tried failed to install via cabal:

Resolving dependencies...
cabal: hashable.cabal:74: The 'type' field is required for test suites. The
available test types are: exitcode-stdio-1.0
cabal: Error: some packages failed to install:
hashable-1.2.0.5 failed during the configure step. The exception was:
ExitFailure 1

Is this a problem with the package or I am doing

[2013-02-07 04:26] tibbe opened #59 "hashable-1.2.0.5 makes hashtables benchmark 22x slower"
This simple benchmark, which uses the hashtables package, gets about 22x slower if you compile it with hashable-1.2.0.5 instead of hashable-1.1.2.5:

[code]

[2013-02-12 19:27] #58 closed, assigned to nobody

[2013-02-19 14:41] jaspervdj opened #60 "segfault in hashable_siphash_24_sse2"
A long-running application of me seems to segfault every once in a long while. I ran it using GDB last time and got the backtrace -- it seems to fail on `ByteString` hashing in some particular case.

GDB gives me a segfault on `0x088ed28a` in `hashable_siphash_24_sse2`. The disassembly of this method can be found here: https://gist.github.com/jaspervdj/4986452

I think I'm going to recompile `hash

[2013-03-03 01:17] #55 closed, assigned to nobody

[2013-04-21 17:20] #60 closed, assigned to bos

[2013-04-22 21:03] trofi opened #61 "latest hackage tarball misses some --enable-tests files"
Building hashable-1.2.0.6...
Preprocessing library hashable-1.2.0.6...
[1 of 4] Compiling Data.Hashable.RandomSource ( Data/Hashable/RandomSource.hs, dist/build/Data/Hashable/RandomSource.o )
[2 of 4] Compiling Data.Hashable.Class ( Data/Hashable/Class.hs, dist/build/Data/Hashable/Class.o )
[3 of 4] Compiling Data.Hashable.Generic ( Data/Hashable/Generic.hs, dist/build/Data/Hashable/Generic.o )
[4

[2013-04-22 23:12] #61 closed, assigned to nobody

[2013-04-23 23:47] atomb opened #62 "Allow disabling SSE completely"
The current configuration of hashable assumes that at least SSE2 is available for all x86 builds. In practice, some x86 installations don't have working SSE support (sometimes due to compiler problems, sometimes because of old processors). Would it be possible to add a flag to disable SSE entirely?

[2013-04-24 16:33] #62 closed, assigned to nobody

[2013-04-30 08:24] snoyberg opened #64 "Missing test suite files"
[code]

[2013-04-30 17:51] #64 closed, assigned to nobody

[2013-05-06 16:37] marcotmarcot opened #66 "Inconsistent behaviour with aeson using hashable-1.2.0.7"
Hi.

When I try to run this program, with the input json that is a parameter in the program, sometimes I get an error, and sometimes I the json is parsed correctly.  The provided Json is correct, and the problem is not the UTF-8 encoding issues.

Source: http://hpaste.org/87328

To get more than one result, the program must be executed from GHCi, calling main, several times.  It should fail about

[2013-05-21 08:59] UnkindPartition opened #67 "CPP guards in siphash.c don't work as expected"
Cabal doesn't pass `cpp-options` when compiling `c-sources`. Thus, `#ifdef`s introduced in 2fc2e2dc3b1f842e4ddade3692aefc7c48a6dee8 effectively disable SSE2 in all cases.

[2013-05-24 03:34] luite opened #68 "instance for Integer broken for negative numbers"
the `size` field of the `J#` constructor is a signed size, so all negative numbers with the `J#` constructor get hashed to the same number.

[2013-06-11 20:15] ekmett opened #69 "Data.Hashable isn't Trustworthy"
Please consider adding

[code]

to the top of `Data.Hashable`.

As it is, no package that depends transitively on `hashable` 1.2 can be `Safe-Inferred`. They all have to explicitly claim to be `Trustworthy`. This greatly expands the required trusted core, and the number of places that a distrustful user needs to inspect for safety.

This flag simply _enables_ users to trust the package. Without it

[2013-06-21 16:54] #69 closed, assigned to nobody

[2013-07-13 19:20] hrdinka opened #71 "Miserable instances for integral types"
As mentioned in Issue #30 Integral types do now hash to themselves. This leads to several problems.

Generally this behaviour would be okay if the combining function would take care of this. In the current implementation it is using a simple xor which has the following property:

xor 0 a = a
xor a 0 = a

Which makes the following hashes to be the same:
hash [] == hash [0,0,0,0] == hash [1,0,0] ==

[2013-08-16 04:12] fumieval opened #72 "Unable to distinguish order of tuples using hashable-1.2.0.10"
[code]

It is very fatal when creating containers wherein the keys are tuples.

[2013-09-05 03:11] ekmett opened #73 "No way to get cross-platform hashes"
Hashable has become the defacto way to hash in Haskell.

However, there is no way to get a hash that is consistent across platforms with different sizes for  `Int` at this time.

This means incurring a constraint for another class, when users have frankly grown used to using and supplying instances for this one.

I'm mostly posting this to note that there is an issue, not necessarily crying out fo

[2013-09-05 04:22] #73 closed, assigned to nobody

[2013-09-13 17:24] #68 closed, assigned to bos

[2013-09-13 18:01] #57 closed, assigned to nobody

[2013-09-13 18:01] #59 closed, assigned to nobody

[2013-09-13 18:01] #66 closed, assigned to bos

[2013-09-13 18:01] #72 closed, assigned to nobody

[2013-09-13 18:20] #71 closed, assigned to nobody

[2013-09-13 18:21] #67 closed, assigned to nobody

[2013-11-10 10:57] neongreen opened #74 "Hashing for lists-of-lists and other things is semi-broken."
Currently structures containing lists are treated as if they were all concatenated: `hash ["abc"]` == `hash ["a","bc"]` == `hash ("ab", "c")` == `hash "abc"`. That is, hashable completely ignores the structure. Is it deliberate?

I think that in some cituations it might be a serious flaw — for instance, storing all partitions of a list (they would all have one hash).

[2014-03-05 14:28] hvr opened #75 "Please update CHANGES file"
The most recent entry seems to be about 3 years old, and it's shown on [hackage](http://hackage.haskell.org/package/hashable) via the [changelog link](http://hackage.haskell.org/package/hashable-1.2.1.0/changelog)

It's no big deal, but it would be useful for users to get an overview about what changed between 1.1 and 1.2

[2014-03-06 07:53] #75 closed, assigned to nobody

[2014-04-25 20:01] bennofs opened #77 "GHC 7.8 gives warning about out-of-range Int literal"
Compiling with GHC 7.8, I get the following warning:

[code]

I don't know if this is intended, but I think it would be clearer to write the actual value instead of some value that will overflow.

[2014-04-29 16:55] #77 closed, assigned to nobody

[2014-04-29 17:08] pseudonom opened #78 "`text` dependency with GHC 7.8.2?"
When I attempt to `cabal install hashable` from a clean install with GHC 7.8.2, I get

[code]

.

The installation proceeded smoothly after a `cabal install text`.

[2014-04-29 17:15] #78 closed, assigned to nobody

[2014-05-09 20:11] hvr opened #79 "Hashable instances for ShortByteString"
Here's the gist of what's missing:

[code]

[2014-09-16 14:18] augustss opened #81 "Missing instance, Hashable Data.Bytestring.Short.ShortByteString"
The title says it all.

[2014-09-16 18:30] #81 closed, assigned to nobody

[2014-11-22 23:35] #79 closed, assigned to nobody

[2014-12-02 09:27] hvr opened #83 "Add support for GHC 7.10's `Data.Void` type"
The `Void` type was moved from `void` to `base-4.8`, but by doing that it had to lose its (trivial) `Hashable` instance.

Here's the basic gist of what needs to be added to `hashable`:

[code]

/cc @ekmett

[2014-12-02 10:16] #83 closed, assigned to nobody

[2015-01-11 11:32] peti opened #85 "hashable-1.2.3.1 can't compile its test suite"
The builds fails with the message:

    tests/Regress.hs:8:18:
        Could not find module `Regress.Mmap'
        Use -v to see a list of the files searched for.

I guess that file is missing from the Cabal file and thus the release tarball?

[2015-01-11 12:14] tibbe commented on #85
Could you provide complete instructions to reproduce and include cabal and OS version please? This works for me:

[code]

[2015-01-11 12:33] peti commented on #85
$ ghc --version
    The Glorious Glasgow Haskell Compilation System, version 7.6.3

    $ curl http://hackage.haskell.org/package/hashable-1.2.3.1/hashable-1.2.3.1.tar.gz | tar xz
      % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                     Dload  Upload   Total   Spent    Left  Speed
    100 23845  100 23845    0     0   149k      0 --:-

[2015-01-11 12:49] tibbe commented on #85
Still works for me. Try this somewhat more explicit command line, so you see which Cabal version `Setup.hs` gets linked against.

[code]

Note that I

 * added `-no-user-package-db` when building `Setup.hs` to make sure I use the version of Cabal in the global package DB (i.e. the one that shipped with GHC, unless you've installed an updated version in your global package DB), and
 * added `--user

[2015-01-11 13:09] peti commented on #85
/tmp/hashable-1.2.3.1$ uname -a
    Linux peti 3.14.27 #1-NixOS SMP Thu Jan 1 00:00:01 UTC 1970 x86_64 GNU/Linux

    /tmp/hashable-1.2.3.1$ ghc --version
    The Glorious Glasgow Haskell Compilation System, version 7.6.3

    /tmp/hashable-1.2.3.1$ ghc-pkg list
    /nix/store/0x4kjirfmwpfpqvfl41q3h7v69rfs6h7-ghc-7.6.3/lib/ghc-7.6.3/package.conf.d
       Cabal-1.16.0
       HUnit-1.2.5.2
       Qu

[2015-01-11 13:23] tibbe commented on #85
I can reproduce it now. It's a bug in Cabal-1.16 that makes it not put the file in the tarball even though it's listed in the .cabal file. Solution: upgrade to a new cabal (backporting the fix is not worth it.)

[2015-01-11 13:23] #85 closed

[2015-01-11 13:30] peti commented on #85
Why would I want to update Cabal? I have no intention of building a release tarball. I just want to compile the tarball that's published on Hackage.

[2015-01-11 13:37] tibbe commented on #85
The tarball on Hackage contains the file:

[code]

Using a newer cabal to build the test suite works:

Old Cabal:
[code]

New Cabal:

[code]

[2015-01-11 13:38] peti commented on #85
Ah, okay. Now I see. The file is there, but the old Cabal version doesn't pick it up for the build. Okay. Thank you for your help!

[2015-02-17 14:30] wferi opened #86 "cabal install fails with bytestring-0.9"
Because the preprocessor [does not understand negation](https://gcc.gnu.org/onlinedocs/gcc-4.9.2/cpp/If.html#If), so this test in [`Data/Hashable/Class.hs`](https://github.com/tibbe/hashable/blob/master/Data/Hashable/Class.hs#L82) is always false, and `Data.ByteString.Lazy.Internal` does not get imported:
[code]
I recommend using
[code]
instead.

[2015-02-17 14:39] hvr commented on #86
that seems very strange to me; using the logical negation operator is quite common in CPP conditionals

[2015-02-17 14:49] tibbe commented on #86
That seems odd to me too. Can you tell GHC to dump the preprocessed output so we can see what it looks like?

[2015-02-17 14:51] wferi commented on #86
Probably, but please tell me how to do that...

[2015-02-17 14:52] hvr commented on #86
would

[code]

have worked? if so, what's the contents of the `cabal_macros.h` file generated by cabal?

[2015-02-17 14:58] wferi commented on #86
Yes, the parenthesized version actually works! I wonder why my previous tests blamed the negation...

[2015-02-17 15:03] tibbe commented on #86
I believe cabal_macros.h generated by older cabal was missing some
parentheses.

[2015-02-17 15:06] wferi commented on #86
From my `cabal_macros.h`:
[code]
Have to transport the kids now, see you later!

[2015-02-17 15:52] tibbe commented on #86
Looks like an old cabal then. That whole expression should have been
surrounded with (). As a workaround we can add the parens to hashable.

[2015-02-17 19:12] wferi commented on #86
Yes, it's cabal 0.8 (Debian oldstable). Upgrading cabal is also problematic. Said workaround in hashable would help me, but other necessary packages also pose problems, so I may eventually give up this GHC 6.12 environment anyway... :(

[2015-03-03 01:33] jberryman commented on #30
Can this be re-opened and discussed since the behavior was reverted?

[2015-03-03 15:00] jberryman commented on #30
Thanks, Johan. In my data structure I need `b` hash bits (depending on some parameters), to be divided and used in a few different phases of the algorithm. With a "good" hashing algorithm I should be able to take a few bits here and there from anywhere in the hash value to use for these various phases without bias. The numeric instances are clearly problematic for that kind of usage.

More broadly

[2015-03-03 20:54] tibbe commented on #30
hashable is designed for a particular use case, supporting hashing-based data structures, rather than for generic hashing (e.g. don't use it to compute checksums for your files). As such it makes some engineering trade-offs, the same as are done in many other languages, that work well in practice for this use case. It turns out in practice that having ints hash to themselves provides good performa

[2015-03-03 21:38] jberryman commented on #30
My application is a bloom filter variant. There are probably many other hash-based data structures for which the current `hashable` makes too many assumptions to be usable (or is already silently introducing bias, or breaking the time complexity of peoples' data structures without them realizing). As you say I guess I can implement a better, more mixy hash function based on `hashable` and make sur

[2015-03-03 21:48] jberryman commented on #30
(on re-reading, I think my last comment might across as disparaging or argumentative which isn't my intention! I understand your trade-offs argument, I just wanted to voice that they don't seem to fit my needs very well even though I think my use-case is one `hashable` claims to be targeting. Thanks for your work on the library!)

[2015-03-05 01:00] tibbe commented on #30
@jberryman we're basically at an uneasy stand still. We don't have an alternative that works better in practice. This seems to be the same conclusion that other communities have come to, so here we are.

[2015-03-14 21:44] ndmitchell opened #89 "Fails to build with GHC 7.10.1 from the hvr ppa"
Given the @hvr PPA as used in Travis buildbot testing, I get the error:

    Data/Hashable/Class.hs:456:14:
        Constructor ‘TypeRep’ should have 4 arguments, but has been given 3
        In the pattern: TypeRep (Fingerprint x _) _ _
        In an equation for ‘hashTypeRep’:
            hashTypeRep (TypeRep (Fingerprint x _) _ _) = fromIntegral x

This is either an error with the @hvr PPA, or

[2015-03-15 08:11] tibbe commented on #89
See #88.

[2015-03-15 08:11] #89 closed

[2015-03-15 09:04] ndmitchell commented on #89
Thanks! Any chance of a new release containing this patch? I can't get my packages GHC 7.10 ready without it.

[2015-03-15 11:14] hvr commented on #89
@tibbe btw, we'll have to retrofit a couple of `< base 4.8` constraints to existing `hashable` releases affected by this...

[2015-03-15 11:16] tibbe commented on #89
@hvr Yeah, I know. There's a trade-off to be made between try to get ready before a GHC release (when things can still change) and after (where others will be waiting for you to update your code.)

[2015-03-16 05:41] tibbe commented on #89
I'm almost ready to release this but the build fails because one of my (test) dependencies has a missing upper bound on base (https://travis-ci.org/tibbe/hashable/jobs/54524854):

[code]

I'll see if I can work around that so I can at least sanity check the release before making it.

[2015-03-16 06:12] tibbe commented on #89
Fixed and released as 1.2.3.2.

[2015-03-16 06:50] ndmitchell commented on #89
Thanks for the release. One of my packages is suffering from exactly the same build failure with ansi-wp-pprint :(

[2015-03-16 08:39] hvr commented on #89
@ndmitchell just for the record: https://github.com/batterseapower/ansi-wl-pprint/pull/11

[2015-03-16 09:03] hvr commented on #89
@tibbe btw, do you want me to batch-edit `base < 4.8` into those `hashable` releases that will break with GHC 7.10.1?

[2015-03-16 12:00] tibbe commented on #89
Sure.

[2015-03-24 01:42] quyse opened #90 "build of hashable-1.2.3.2 fails with integer-simple"
Build of hashable-1.2.3.2 fails in integer-simple configuration (i.e. with -f-integer-gmp) with the following error:
[code]
Looks like the problem is that MIN_VERSION_integer_gmp macro is not defined. Reverting changes from 6a4437d8a6d10713c61fa21d7e7797d96177f7b9 fixes the problem.

[2015-03-24 08:10] hvr commented on #90
Yeah, `MIN_VERSION_xxx()` is only defined if the the respective `xxx` package is actually in scope for the current Cabal package being built. And `integer-gmp` and `integer-simple` are mutually exclusive packages, you can't have both in scope at the same time.

[2015-03-24 09:14] quyse commented on #90
Yes, I have only integer-simple for this test, not both. Sorry if I didn't make myself clear, indeed I meant the missing `#ifdef VERSION_integer_gmp`, as you already pointed out in your line note to Class.hs. Thanks!

[2015-03-24 09:28] hvr commented on #90
@quyse as you have integer-simple at your disposal for testing... would you mind preparing a pull-request with the missing `#ifdef` added?

[2015-03-24 10:14] quyse commented on #90
@hvr Yes, I can do that. I'm at work right now, will try to look into it at the end of the day.

[2015-03-25 12:32] #90 closed

[2015-04-02 22:55] peti opened #92 "Compiler error from ghc-7.11.20150118"
Citing from http://hydra.cryp.to/build/723359/nixlog/1/raw:

[2015-04-02 22:57] peti commented on #92
Hmm, the issue is gone with ghc-7.11.20150402. Sorry for the noise.

[2015-04-02 22:57] #92 closed

[2015-04-06 08:30] hvr opened #93 "Add support for `Data.Unique.Unique`"
See [`Data.Unique`](http://hackage.haskell.org/package/base-4.8.0.0/docs/Data-Unique.html)

[2015-04-09 07:29] hvr opened #94 "Add `Hashable` instance for `Data.Version.Version`"
the subject says it all :-)

See [`Data.Version`](http://hackage.haskell.org/package/base/docs/Data-Version.html)

[2015-04-10 06:39] hvr commented on #86
@tibbe btw, if you don't want to workaround this, just set `cabal-version >=1.10` in future releases' `hashable.cabal`

[2015-04-30 07:16] nomeata opened #95 "ERROR: mmap: invalid argument (Invalid argument)"
Hi,

I’m having trouble building hashable on powerpc and likely other architectures, as reported at http://bugs.debian.org/783772:

[code]

Full log at https://buildd.debian.org/status/fetch.php?pkg=haskell-hashable&arch=powerpc&ver=1.2.3.2-2&stamp=1430199777

Do you have any idea what this could mean?

[2015-04-30 19:51] tibbe commented on #95
I didn't write that test (bos@ did) so I'm not sure.

[2015-06-06 13:20] andreasabel opened #98 "Documentation about minimal definition of Hashable is contradictory"
From https://hackage.haskell.org/package/hashable-1.2.3.2/docs/Data-Hashable.html

`class Hashable a where`
  The class of types that can be converted to a hash value.
  Minimal implementation: hashWithSalt.
  Minimal complete definition
    Nothing

[2015-06-06 15:35] tibbe commented on #98
This is a bug in GHC that has something to do with default signatures. Even when I put an explicit `MINIMAL` pragma GHC claims that the minimal complete definition is "nothing".

[2015-06-26 05:24] 3noch opened #99 "Upload integer-simple fix"
I suddenly realized I need this and I'm not alone: https://github.com/commercialhaskell/stack/issues/399. Thanks for providing support for integer-simple. Please upload that fix as soon as you can.

[2015-06-26 06:06] tibbe commented on #99
Done.

[2015-06-26 06:06] #99 closed

[2015-06-26 06:11] 3noch commented on #99
Amazing. Thank you!

[2015-08-17 02:33] jberryman commented on #30
If anyone's interested I've released a rewrite of hashable called [`hashabler`](https://github.com/jberryman/hashabler) which concerns itself with this issue.

[2015-08-17 02:33] jberryman commented on #74
If anyone's interested I've released a rewrite of hashable called [`hashabler`](https://github.com/jberryman/hashabler) which concerns itself with this issue.

[2015-09-17 11:11] #93 closed

[2015-09-17 11:11] tibbe commented on #94
Fixed by 4b50676149374a2429a9a80d70bc79266a9a9949.

[2015-09-17 11:11] #94 closed

[2015-09-17 11:17] #86 closed

[2015-10-26 09:00] EDeijl opened #106 "cross compilation for ARM64 fails"
Trying to compile hashable for ARM64 gives me the following errors. This is on ghc build `7.11.2015.10.22`

[code]

using the flag `-f-integer-gmp` doesn't make a difference, nor does using `-finteger-simple` while installing `text`

[2015-11-02 08:36] svenpanne opened #107 "Need to relax upper bound on base"
GHC's head is now at base-4.9.0.0, so the upper bound has to be relaxed, and a new version is needed on Hackage.

[2015-11-02 08:44] hvr commented on #107
@svenpanne Generally I'm not sure if that's advisable at this point to start pushing `base`-relaxed packages to Hackage already, as we're not even in RC-phase for GHC 8

Don't forget you can easily add `--allow-newer=base` to your travis jobs for testing GHC HEAD, if it's just for the `base` version number

/cc @ekmett

[2015-11-02 12:39] svenpanne commented on #107
As it is today, I basically can't test anything at all with HEAD without heavy hand-tweaking because of broken dependencies, so I actually think it's a good idea to let people know as early as possible that their packages need an update. If we would wait until GHC 8.0 is final, we would probably have tons of broken packages on Hackage for months.

Actually this kind of breakage is the reason why I

[2015-11-02 15:36] hvr commented on #107
The risk of uploading packages with a relaxed bound accepting a non-released `base` is that we may need to fix it up lateron, if it turns out that `base` changed more than expected. At least now we're in a position to be able to fixup broken bounds after they got uploaded to Hackage already via `.cabal` editing. Actually, we can just as well just relax the bounds for the existing hashable release,

[2015-11-09 12:39] phadej opened #108 "Hashable instances for Vector types"
There are three options:
- Add instance into `hashable`
- Add instances into `vector`
- Add instances into new `vector-hashable`

As `hashable` already depends on `text`, it could depend on `vector` as well. So I'd go with first option if it's ok with the maintainers of `hashable`. I'll make a PR if this is ok.

[2015-11-09 20:41] tibbe commented on #108
After discussing this with some people in the past (e.g. @dcoutts) I think we concluded that type classes should be on the bottom of the dependency chain (i.e. vector should depend on hashable). That it works the other way around for text is a bit of an accident.

[2015-11-10 05:22] phadej commented on #108
ok. I'll try to get the change into `vector` then. Thanks for quick response!

[2015-11-10 05:23] #108 closed

[2015-11-30 07:48] svenpanne commented on #107
What's the current state of this? Things are still broken after month, can we at least relax the version bound on Hackage?

[2015-11-30 07:51] hvr commented on #107
Turns out, this is actually a good thing that all `hashable` releases reject base-4.9, as we'd need this anyway due to https://github.com/ekmett/semigroups/issues/56

I.e. we need to a new `hashable` release which takes into account NonEmpty before we can support `base-4.9`.

[2015-11-30 08:02] svenpanne commented on #107
OK, I wasn't aware of that issue, I just wanted to make sure that the problem with `hashable`  has not been forgotten. Any ETA?

[2015-11-30 08:06] tibbe commented on #107
As soon as base-4.9 is released, so I know what's in there, I'll make a release.

[2015-11-30 08:08] hvr commented on #107
@tibbe btw, I just sent you an email regarding two possible ways forward to this

[2015-11-30 08:20] svenpanne commented on #107
I'm a bit unhappy with the whole process: Releasing only when base-4.9 is done is too late IMHO. Giving library maintainers a way to test their stuff before GHC 8.0RC1 is release would be much better, otherwise tons of stuff is broken on that release day (and will probably stay like for some time this due to christmas). I understand that it would be a bit annoying if a something has to be re-relea

[2015-12-01 07:13] tibbe commented on #107
I understand the frustration @svenpanne, but early releases both create extra work (i.e. in this case I would have had to make another release, try to blacklist the prior releases, and so forth). I think it will have to be expected that it takes a few weeks before a new GHC release is usable.

You're still able to test against a new hashable. Just use something like stack to build it from source.

[2015-12-01 08:13] svenpanne commented on #107
Manual testing with e.g. stack is definitely not an option IMHO, I rely heavily on Travis CI's build matrices to support a wide range of GHC releases. I definitely won't put any more effort into this, it is already enough frustrating work. If we want to move fast and break things repeatedly (that seems to be the consensus on the mailing lists, and that might even be OK), we should at least make it

[2015-12-22 12:42] svenpanne commented on #107
Any progress here? I think most of the changes for base-4.9 are already committed and it would be nice to continue testing via Travis CI.

[2015-12-22 13:35] hvr commented on #107
(Somewhat off-topic, but I wonder if Hackage (and cabal) should extend its candidate feature to support unofficial package releases as a volatile opt-in software-channel for this purpose. This is something that may become easier with the "local package" support that's being added to Cabal)

[2015-12-23 02:22] ezyang commented on #107
I have to agree with @svenpanne, at the *very least*, hashable HEAD should be tracking base HEAD, so that if you are going to manually build, you can clone, make it visible and it will work. (Right now that's not the case; the base bound is still not updated.)

@svenpanne, the Cabal nix-local-build has made it even easier to add a vendored version of a library like hashable in case Hackage's versi

[2015-12-23 08:15] svenpanne commented on #107
@ezyang: Setting up a build matrix on Travis CI is a bit verbose due to some restrictions in the YAML format, but essentially very easy, see e.g. [GLUT's Travis CI config](https://github.com/haskell-opengl/GLUT/blob/master/.travis.yml), which results in the following [matrix](https://travis-ci.org/haskell-opengl/GLUT). I'm relying on Herbert's PPA for GHC/cabal packages, which is very convenient.

[2015-12-28 09:19] #107 closed

[2016-01-16 08:32] phadej commented on #74
With `1.2.4.0` on my machine:
[code]

This can be closed.

[2016-01-16 08:48] tibbe commented on #74
Thanks for verifying!

[2016-01-16 08:48] #74 closed

[2016-03-22 13:27] andrewthad opened #113 "Add Identity and Const instances"
It looks like someone already did this, and it's just bitrotting in a PR: https://github.com/tibbe/hashable/pull/109

[2016-03-24 14:05] andrewthad opened #114 "Hashable1"
It looks like Edward Kmett has already done something like this in the [hashable-extras](https://hackage.haskell.org/package/hashable-extras-0.2.3) package, but I'd like to propose that the classes `Hashable1` and `Hashable2` be added to `hashable`. To be able to provide a lot of more useful instances of these, `hashable` would also need to depend on `transformers` (just for the data types in the

[2016-03-24 14:07] andrewthad commented on #114
Also, the reason I would like these in `hashable` itself and not in a companion package is that we could then have instances like:

    instance (Hashable1 f, Hashable1 g, Hashable a) => Hashable (Compose f g a)

With the current split between `hashable` and `hashable-extras`, this would be an orphan instance.

[2016-04-14 14:38] andrewthad commented on #113
The change got merged in, so I'm closing this.

[2016-04-14 14:38] #113 closed

[2016-08-15 20:25] glguy opened #116 "Hashable instance for Float/Double inconsistent for negative and positive zero"
Things that are `(==)` should have the same `hash` as documented in the `Hashable` class, but:

[code]

[2016-08-15 20:26] danielwaterworth opened #117 "Hashing Doubles breaks for 0, -0."
True

    0

    -9223372036854775808

[2016-08-15 20:27] danielwaterworth commented on #117
Dup of #116 (We were talking on IRC)

[2016-08-17 08:28] #117 closed

[2016-09-14 01:39] tibbe opened #118 "Evaluate SipHash 1-3"
Rust has switched from SipHash 2-4 to 1-3. The latter is faster, maybe fast enough to be the default for us, and seems to be equally secure. Some graphs for Rust: https://i.imgur.com/5dKecOW.jpg

[2016-09-19 18:46] ndmitchell opened #119 "Add Hashable for Ptr/IntPtr/WordPtr"
All these types are basically Int's, so could have Hashable instances. I am thinking of just hashing the pointer, not the memory pointed at by the pointer, which is the only sensible instance. As a temporary hack I'm using:

    hashWithSalt salt $ toInteger $ ptrToIntPtr p

[2016-09-19 21:21] tibbe commented on #119
Sounds reasonable. Want to whip up a PR?

[2016-09-21 10:45] #119 closed

[2016-10-16 14:37] andrewthad commented on #114
@tibbe I don't know if you ever had a chance to think about this, but I just ran into a situation where I needed this again, so I thought I would bring it back up. Since I first raised this issue, the `Data.Functor.*` data types from `transformers` have been moved into `base`, so the suggested additions no longer require taking a dependency on `transformers`.

Also, just to clarify, the `hashable-

[2016-10-16 15:43] RyanGlScott commented on #98
Interesting, this doesn't appear to be the case any more, at least with GHC 7.10.3 / `haddock-2.16.1`. If I make this change:

[code]

and run `cabal haddock`, this is what I get:

![hashable_minimal](https://cloud.githubusercontent.com/assets/2364661/19418622/b4c8ce52-9395-11e6-8e96-0e202b863954.png)

[2016-10-16 15:47] RyanGlScott commented on #46
Both GHC Trac 7097 and 7134 have been fixed as of GHC 7.8, so AFAICT, this bug has been fixed?

[2016-10-16 21:28] tibbe commented on #46
Lets assume so. Feel free to open if it resurfaces.

[2016-10-16 21:28] #46 closed

[2016-10-18 20:59] tibbe commented on #114
Just so I can put this in perspective, can you give an example of how you'd use this?

P.S. We need to support the 3 last releases of GHC, so we would still have to rely on transformers if we went ahead with this.

[2016-10-19 00:01] andrewthad commented on #114
The simplest demonstration of its utility is the `Hashable` instance for
`Compose`:

    class Hashable1 t where
      liftHashWithSalt :: (Int -> a -> Int) -> Int -> t a -> Int
      liftHash :: (a -> Int) -> t a -> Int

    newtype Compose f g x = Compose { getCompose :: f (g x)) }

    instance (Hashable1 f, Hashable1 g, Hashable x) => Hashable (Compose f g x) where
      hash (Compose v) = lif

[2016-10-19 00:04] tibbe commented on #114
Perhaps we should add it to a new `Data.Hashable.XXX` module (`XXX` is up for bike-shedding, it could be `Hashable1` or something else that indicates this is for higher order kinds).

[2016-10-19 00:09] andrewthad commented on #114
I'm fine with exposing through a new module instead of through `Data.Hashable`. The definition itself has to go in `Data.Hashable.Class` to prevent orphan instances. For the name of `XXX`, I would be fine with `Lifted` or something like that (`HigherKinded` is most descriptive but feels too long).

[2016-10-19 00:14] tibbe commented on #114
No problem putting the implementation in `D.H.Class` since that's not exposed. Lets go for `.Lifted` and add top-level Haddock comment to that module explaining what it contains.

[2016-10-19 01:12] andrewthad commented on #114
Cool. I'll PR sometime tomorrow.

[2016-10-19 14:25] andrewthad commented on #114
https://github.com/tibbe/hashable/pull/124

[2016-10-31 12:55] andrewthad opened #126 "Fix incorrect examples"
I had forgotten to fix the example `Hashable1` instance for `Free` in the haddocks. https://github.com/tibbe/hashable/pull/125

[2016-11-01 13:21] #126 closed

[2016-11-05 18:38] #114 closed

[2016-11-06 09:20] phadej commented on #118
SipHash requires starting seed. Have you an idea how to deal with that fact in `hashable`. Just have some preselected one? But that would diminish the security value of SipHash.

[2016-11-09 20:51] tibbe commented on #118
All good questions. We tried various way to have a seed injected before, but none of them satisfactory. Also, I don't know what security properties (if any) SipHash offers with a known seed.

[2016-11-17 17:13] fakedrake opened #127 "Generic1 default implementation"
Currently there is only a `Generic` automatic deriving mechanism, would it be possible to also have `Generic1`.

[2016-11-17 17:38] RyanGlScott commented on #127
This isn't really a well formed question, as `Generic1` won't work well with a class like `Hashable`. `Hashable` takes types of kind `*`, but `Generic1` works with types of kind `* -> *`.

FWIW, the next version of `hashable` will include a [`Hashable1` class](https://github.com/tibbe/hashable/blob/a0c288eb89933accff6977abbc8df69e96d9b811/Data/Hashable/Class.hs#L240-L246), which will support autom

[2016-11-17 19:19] fakedrake commented on #127
Yes exactly. Is there a plan for when that version will be on hackage?

[2016-11-17 19:27] RyanGlScott commented on #127
I dunno... ask @tibbe :)

[2016-12-25 14:44] duairc opened #128 "New hackage release?"
Hi,

I've written quite a lot of code that depends on the `Identity` and `Const` instances that were added in #113. I'm getting a bit tired of having to compile `hashable` (and everything that depends on it) manually every time to take advantage of these though.

Any chance you bump the version and upload this to Hackage?

Thanks.

[2017-01-02 08:45] tibbe commented on #128
1.2.5.0 released.

[2017-01-02 08:45] #128 closed

[2017-01-03 04:20] RyanGlScott commented on #127
This is now available from the `Data.Hashable.Lifted` module in [`hashable-1.2.5.0`](http://hackage.haskell.org/package/hashable-1.2.5.0).

[2017-01-20 16:22] minad opened #130 "Hashed NFData instance"
Could we add such an instance here?

[2017-01-20 16:53] phadej commented on #130
Seems reasonable. `deepseq` is a boot package, so there isn't any problem depending on it.

I'm not a maintainer, but I hope tibbe will accept the PR if you make one. `hashable` works with GHC7.4+, so you have to support `deepseq >= 1.3`, i.e. write the instance manually. https://ghc.haskell.org/trac/ghc/wiki/Commentary/Libraries/VersionHistory

[2017-01-20 17:32] minad commented on #130
see #131

[2017-01-22 08:30] codygman commented on #118
What about [murmurhash](https://sites.google.com/site/murmurhash/)?

[2017-01-22 23:13] tibbe commented on #118
Murmur 2 & 3 have known bad collision behavior: https://131002.net/siphash/#at

[2017-01-23 00:14] codygman commented on #118
@tibbe Hm, alright. Forgive my ignorance, but can you give an example of how that would effect someone using a hashmap in their Haskell program for O(1) lookups?

[2017-01-23 00:21] phadej commented on #118
@codygman The O(1) operations are actually O(n) where n is a size of collision set. With good hash functions we don't have collisions, so n = 1. With bad collision behaviour, (e.g `hash _ = 0`) all operations degrade to O(N) linear scans (where N is the size of `HashMap`). In practice we have n = 1 almost always, but this is potentially a risk, google "hash table vulnerabilty collision" for more i

[2017-01-28 14:01] #130 closed

[2017-02-20 12:52] Warbo opened #135 "Tiny output range when deriving Hashable for Peano Nat type"
Hello, I've got some code which defines the following very simple type for Peano natural numbers:

[code]

The `Hashable` instance is created, and I can get hashes:

[code]

However, it looks like these are the *only* two hashes that are ever generated (formatted to make the alternation clear):

[code]

I expected that such a recursive type would lose some range, but this seems like very poor perf

[2017-02-20 13:17] Warbo commented on #135
I've tried with 1.2.5.0 and get the same results :(

[2017-02-23 02:29] tibbe commented on #135
That's bad. Unfortunately I didn't write the generics code so I'm not sure what's wrong (I also find GHC generics inscrutable). Perhaps someone like @andrewthad who has worked on that code could help.

[2017-02-23 13:42] andrewthad commented on #135
When I last looked at the generics code, I noticed that something weird was going on with sum types. Here are the [two provided instances of GSum](https://github.com/tibbe/hashable/blob/77fd41a95e9fc74fc6d1ea53311b084d0f909215/Data/Hashable/Generic.hs) and the implementations of `hashSum`:

    instance (GSum arity a, GSum arity b) => GSum arity (a :+: b) where
        hashSum toHash !salt !code !

[2017-03-14 06:52] #135 closed

[2017-03-19 23:58] nick8325 opened #137 "No longer builds on GHC 7.0"
I get an error building `hashable-1.2.6.0` on GHC 7.0 because `unsafeDupablePerformIO` doesn't exist:

[code]

I'm not sure if you still support GHC 7.0, but if not, it would be good to have a version bound on `base` so that Cabal sticks with older versions of `hashable`. I think `base >= 4.4` would do the trick.

[2017-03-20 00:06] tibbe commented on #137
We only support the last 3 major releases so it's not expected to build, but adding a base constraint would be helpful for error messages. Mind creating a pull request?

[2017-03-20 08:11] hvr commented on #137
Fyi, I took care of the meta-data on Hackage: http://hackage.haskell.org/package/hashable-1.2.6.0/revisions/

[2017-03-20 10:09] nick8325 commented on #137
Sure, will do. And thanks @hvr for fixing it on Hackage!

[2017-05-16 00:13] joeyh opened #139 "documentation: Is the hash stable?"
Reading the documentation, I don't know if I can rely on the hash of a given value being the same across different versions of the library, on different OS's, etc.

The example at the top says that hash "foo" == 60853164. But here, it's -3895646688458103097. Checking hashable-1.0.0, it was 112134.

[2017-05-16 01:11] tibbe commented on #139
I could swear that used to be documented in the Haddocks but I can't see any documentation there now. The hash is not guaranteed to be stable across library versions, OSes, or architectures. If you need stable hashes e.g. SHA-256, CRC32, etc is a better fit.

[2017-05-16 18:46] joeyh commented on #139
Just to be clear, I found the documentation unclear on this, and filed the issue to suggest it be improved.

[2017-06-22 07:40] asr opened #142 "Build error when installing hashable 1.2.6.1 with GHC 8.2.1 RC2"
[code]

[2017-06-22 07:43] asr commented on #142
Blocking https://github.com/agda/agda/issues/2540.

[2017-06-22 07:53] hvr commented on #142
See #140

[2017-06-22 08:05] asr commented on #142
@hvr, good to know you reported the problem.

[2017-06-23 00:57] #142 closed

[2017-06-23 16:01] glguy opened #143 "hashable-1.2.6.1 doesn't build on GHC 8.2.1-rc2"
The hashable-1.2.6.1 release advertises a base package upper bound that includes GHC 8.2.1-rc2 but the most recent changes aren't supported.

[code]

[2017-06-23 16:06] glguy commented on #143
I've lowered the base bound of the 1.2.6.1 release on Hackage so that builds using hashable will be able to succeed as a temporary fix.

[2017-06-23 16:11] RyanGlScott commented on #143
@glguy, see #140 and #142. This was a relatively recent change (https://git.haskell.org/ghc.git/commit/88263f93e0f3add38f925d5afb799eee8df32606) that only just landed in the GHC 8.2 branch - @hvr's [Ubuntu PPA build](https://launchpad.net/~hvr/+archive/ubuntu/ghc) of GHC 8.2 didn't rebuild with this commit until yesterday.

[2017-06-23 16:14] glguy commented on #143
That makes sense. It sounds like the package doesn't need any changes then, and once a new release candidate comes out the bound can be raised.

[2017-06-23 16:29] RyanGlScott commented on #143
Unfortunately, limiting the upper version bounds has the side effect of breaking all Travis builds that use that PPA to get GHC 8.2, since it's more recent than rc2: https://travis-ci.org/foxik/hashmap/jobs/218461746

[2017-06-23 16:31] glguy commented on #143
Yes, I'm talking to @hvr about his PPA presently

[2017-07-26 09:00] ndmitchell opened #145 "Make a release"
Would be very useful for trying out GHC 8.2.1.

[2017-07-26 09:16] phadej commented on #145
AFAICS there is GHC-8.2 compatible release: https://matrix.hackage.haskell.org/package/hashable ?

[2017-07-26 10:31] #145 closed

[2017-07-26 10:31] ndmitchell commented on #145
I think I'm getting confused. Sorry for the noise.

[2017-09-14 19:05] jkarni opened #148 "Expose gHashWithSalt?"
Often a datatype that I want to be `Hashable` will contain fields that are not themselves `Hashable` (which in turn themselves may contain fields which are not `Hashable`), though they are all `Generic`. Writing an instance in that case could be considerably simplified if `gHashWithSalt` was exposed. Is there any reason not to?

[2017-12-21 12:37] DougBurke opened #149 "base constraint needs updating for ghc 8.4; anything else?"
I was able to get `hashable` to build with the recent ghc 8.4.0 alpha by upping the base constraint to

[code]

which produced one warning:

[code]

This is with

[code]

I didn't get to running the test suite since `primitive` also needs updating and I don't want to go too far down this particular rabbit hole at this time!

[2017-12-21 13:10] phadej commented on #149
Based on lack of patch in https://github.com/hvr/head.hackage/tree/master/patches, most likely: *no*, no other changes needed atm.

[2017-12-21 14:06] DougBurke commented on #149
Thanks for the link @phadej

[2018-01-08 09:11] kirelagin opened #151 "`Hashable` instance for `Async a`"
As discussed in simonmar/async#73, `hashable` has an instance for `ThreadId`, but not for `Async a`. Adding such an instance would be trivial, but it is not clear, where to put it.

What do you think about providing this instance in `hashable`?

[2018-01-11 09:56] tibbe commented on #151
I think it should be the other way around. `Hashable` is very low level, at the same level as `Eq` and `Ord`. I think async should depend on hashable and add the instance.

[2018-02-07 13:05] asr commented on #149
Before knowing this issue, I wrote the (trivial) PR #150 fixing it.

[2018-03-01 04:59] kazu-yamamoto commented on #149
I think

[code]

is better.

[2018-03-01 07:49] hvr commented on #149
@kazu-yamamoto why? ;-)

[2018-03-01 11:33] kazu-yamamoto commented on #149
If `hashable` is not depend `base` too much, I think it's wise to not loose version boundaries for every GHC.

[2018-03-01 12:36] phadej commented on #149
@kazu-yamamoto  you could bring that to CLC to make `base` version semantics such that the super major version bound will be done if changes in `base` will break any Haskell Platform packages, which would meant that AMP/FTP (in `base-4.8`) and `SMP` (in `base-4.11`) would been `base-5` and `base-6` respectively. Then I as a maintainer of (other) package in Haskell Platform would be very happy to u

[2018-03-05 03:19] kazu-yamamoto commented on #149
@phadej Probably, I should use `--allow-newer` of cabal-install for my purpose. :-)

[2018-03-07 22:07] hvr commented on #149
This can be considered resolved by  http://hackage.haskell.org/package/hashable-1.2.7.0

[2018-03-07 22:07] #149 closed

[2018-03-08 01:40] kazu-yamamoto commented on #149
@hvr Big thank you!

[2018-03-08 20:07] RyanGlScott commented on #127
@hvr, can this issue be closed?

[2018-04-11 06:29] mikeplus64 opened #155 "Lazy variant of Hashed?"
This would be useful for me for a type (living in a TVar) that:
* updates frequently
* has an expensive hash function
* needs to check hashes infrequently

The implementation should be exactly the same as 'Hashed' without the `{-# UNPACK #-} !Int`. Maybe have a typeclass:

[code]

[2018-05-27 19:01] andrewthad opened #156 "Hashable instance for Fingerprint"
We've already got a Hashable instance for TypeRep. Having one for Fingerprint would be handy too.

[2018-06-22 10:02] ggreif opened #160 "GHC HEAD (v8.7) problem (StarIsType)"
I get
[code]
Maybe a conditional `{-# LANGUAGE StarIsType #-} should be added at the top of the source?

[2018-06-22 10:05] ggreif commented on #160
Forgot to say:
[code]

[2018-06-22 10:10] phadej commented on #160
See #159

[2018-06-24 20:30] ad-si opened #162 "Why can the result of `hash` be negative?"
I guess it's an buffer overflow, right?
But why is this allowed to happen?

[2018-06-24 20:39] phadej commented on #162
`unordered-containers` uses `Word` as a hash:

https://github.com/tibbe/unordered-containers/blob/efa43a2ab09dc6eb72893d12676a8e188cb4ca63/Data/HashMap/Base.hs#L165-L166

https://github.com/tibbe/unordered-containers/blob/efa43a2ab09dc6eb72893d12676a8e188cb4ca63/Data/HashMap/Base.hs#L233

Report says

So `Word` and `Int` can be interchanged. Also changing result of `hash` to be `Word` would cause

[2018-06-24 20:55] ad-si commented on #162
Well, if it's intended behavior, can we at least add a few lines to the documentation informing about this (and also how hash generation actually works in this package)

[2018-06-24 21:36] phadej commented on #162
The *description* of the packages says

i.e. other applications (e.g. *hyperloglog*, or any kind of crypto) is out of scope. I recall there were closed issues:
- https://github.com/tibbe/hashable/issues/30
- https://github.com/tibbe/hashable/issues/71
maybe others (I cannot find the one mentioning that there **are not** guarantees that hash values are stable across platforms or library versions),

[2018-06-24 21:40] phadej commented on #162
Note: bloomfilter and hyperloglog are kind of hashing-based data structures, but I'd call them *probabalistic* first. `unordered-containers` are on the other hand *containers*.

[2018-06-25 13:13] Haskell-mouse opened #163 "Add info about commonly used hashable types to doc."
I needed to use <Day> type (from time library) as key, but i prefer not to declare instances outside module with type class (or type) definition due to possible confilcts between instances.

I did not try to find hashable instance, because.... this thought simply did not occur (
And i made [PR](https://github.com/tibbe/hashable/pull/161) with added hashable instance for <Day>.

Oleg Grenrus pointe

[2018-06-25 13:16] tibbe commented on #163
Is it really feasible to list all possible packages with instances in hashable? We don't do this for e.g. `Eq` and other type classes at the same "level" as `Hashable`. `Hashable` could really have been in base and thinking of it that way is helpful when considering what the library should depend on (e.g. basically nothing).

[2018-06-25 14:02] Haskell-mouse commented on #163
I don't think that you should be search for ALL instances int the world )
But if someone find that there is external instance and it can be used oftenly (i think that `Day` can be) as Key, then why not to add it to docs ? Someone else will spend less time for searching/writing his own instance.

Is it very laborious?

[2018-06-25 14:17] tibbe commented on #163
It's not laborious but what principle do you use to decide which ones to document or not? Finding instances ought to be easy, given that orphan instances are a bad idea they should only be in one out of two packages.

[2018-06-27 21:47] Haskell-mouse commented on #163
Ok, can i move  instances from hashable-time to this package ?
I can't move them to the time library, because it can't depend from non-core libraries (

[2018-06-29 13:15] netom commented on #148
I second this. https://stackoverflow.com/questions/51100263

[2018-07-01 16:37] ndmitchell opened #165 "Relax Base version bounds"
Hashable 1.2.7.0 can't be installed with GHC 8.6 (out now in alpha) because it has the constraint base <4.12, and GHC 8.6 ships with base-4.12. Adding `--allow-newer` works, so suggest just relaxing the bounds.

[2018-07-14 21:54] #165 closed

[2018-07-14 22:22] hvr commented on #163
Fwiw, I'm for avoiding orphan instances, and given the current state of affairs that `class Hashable` is neither a boot-library (nor in `base`), and as @tibbe already pointed out the previously applied guideline "hashable can depend on boot libs that cannot depend on hashable to avoid orphans",  the desirable & consistent way is in fact to have `hashable` depend on `time` as the benefit outweigh a

[2018-07-14 22:32] ekmett commented on #163
As an alternative proposal, I wouldn't object strongly to moving `Hashable` into `base`.

This would avoid the whole "which of these two boot packages should depend on the other" issue that would still linger, even if we declared `hashable` a boot package. Then `base-compat` / `base-orphans` could in good conscience clean up missing instances on older versions.

[2018-07-15 09:47] ChShersh opened #167 "Update `base` version on Hackage"
Is it possible to upload new version of `hashable` to Hackage with relaxed upper-bounds for `base` or at least use cabal revisions to do it?

[2018-07-21 13:08] RyanGlScott commented on #160
The commit which reverted this behavior landed in GHC HEAD in http://git.haskell.org/ghc.git/commit/65c186f0fdde95fd7c63ab9bd9b33a0213dba7d1, so this can be closed.

[2018-07-22 08:29] hvr commented on #160
@RyanGlScott alright!

[2018-07-22 08:29] #160 closed

[2018-07-22 08:32] hvr commented on #167
Note that GHC 8.6 is still in alpha state and hasn't been released yet so it's a bit too early to advertise support for what's still a moving target.

[2018-07-22 08:59] ChShersh commented on #167
@hvr Thanks a lot! Yes, you're right, probably it's too early. I'm using `--allow-newer` for now and it works fine :+1:

[2018-07-31 19:35] flip111 opened #168 "Make functions inlinable"
When i compile with `-Wmissed-specialisations` actually indirectly by compiling with `-Weverything` i get the following warnings:

[code]

I think there is a missed optimization here. The inlinable pragma should be added in the module which export these functions.

[2018-08-11 20:44] hvr commented on #167
Done via http://hackage.haskell.org/package/hashable-1.2.7.0/revisions/

[2018-08-11 20:44] #167 closed

[2018-08-21 10:57] nh2 opened #169 "Why are the FNV hashes not using default FNV offset basis?"
See https://github.com/tibbe/hashable/commit/5ad80d6006450d57c11cf43c9955b78b9d17964f#commitcomment-30233700

Why was the `FNV offset basis` for 32 bits from https://en.wikipedia.org/wiki/Fowler%E2%80%93Noll%E2%80%93Vo_hash_function#FNV_hash_parameters, `2166136261 = 0x811c9dc5`, not used instead?

Same question for 64 bits.

In the past, namely in commit https://github.com/tibbe/hashable/commit/0

[2018-08-22 13:25] aliakbar32 opened #170 "Can't import Data.Hashable"
Already had hashable installed but can't import Data.Hashable
`
GHCi, version 8.4.3: http://www.haskell.org/ghc/  :? for help
Prelude> import Data.Hashable

<no location info>: error:
    Could not find module ‘Data.Hashable’
    Perhaps you haven't installed the "dyn" libraries for package ‘hashable-1.2.7.0’?
    Use -v to see a list of the files searched for.
`

[2018-08-22 13:35] phadej commented on #170
@aliakbar32 are you on Arch Linux? Does https://wiki.archlinux.org/index.php/Haskell#Problems_with_linking light something to your issues?

[2018-08-22 14:04] aliakbar32 commented on #170
Yep I am on Arch Linux. Reinstalled hashable with those arguments. Everything works now. Thank you.

[2018-09-23 13:53] #170 closed

[2018-10-31 17:43] treeowl commented on #118
highwayhash claims to be secure (and there's been *some* work on demonstrating this), while being substantially faster than SipHash.

Handling *any* of the more secure hashing algorithms really properly for composite values seems to require some restructuring of the `Hashable` methods. The most natural approach would be something like this:

[code]

Using `mix` is likely to be pretty inefficient t

[2018-10-31 17:45] treeowl commented on #106
This doesn't look like an issue with `hashable`. More likely some package database problem. I'm guessing whatever caused the trouble has been resolved in the last three years?

[2018-10-31 17:51] treeowl commented on #98
@RyanGlScott, these days Haddock can figure it out on its own, without a `MINIMAL` pragma. I don't think we actually *want* such a pragma, since we (now) have a generic implementation of `hashWithSalt`. Time to close this ticket.

[2018-10-31 17:59] treeowl commented on #156
Agreed. Note that the instance for `TypeRep` doesn't actually salt properly:

[code]

I suppose the logic here is that there should be few enough collisions for `HashMap` purposes using just one of the words of the `Fingerprint`?

[2018-10-31 18:05] treeowl commented on #156
Actually.... that logic applies to `TypeRep` fingerprints, but I'm not sure it applies to fingerprints in general. Are the two words sometimes independent?

[2018-11-04 17:28] Mistuke commented on #118
Have you guys considered also supporting `xxhash`? A lot of use cases don't really care about hash flooding attacks and can benefit greatly from the high throughput of xxhash. Especially for smaller keys https://aras-p.info/blog/2016/08/09/More-Hash-Function-Tests/ has a nice writeup and comparison. His previous post also compares quality of the hash functions in more detail.

[2018-11-05 08:15] hvr commented on #118
For reference, #28 is when this packaged switched to SipHash, and https://github.com/tibbe/unordered-containers/blob/master/docs/developer-guide.md documents the design considerations affecting the choice of hash functions

[2018-11-06 02:41] Mistuke commented on #118
@hvr yeah a flag would do the trick nicely!

[2018-11-06 18:17] NorfairKing opened #173 "Instance `Hashable Double` does not behave according to the laws."
It is broken for `-0.0`:
[code]

It's also broken for different values of `NaN`, if you ignore that `NaN /= Nan` holds.

[2018-11-07 14:54] EDeijl commented on #106
Yeah, this can safely be closed.

[2018-11-07 14:54] #106 closed

[2018-11-14 16:36] NorfairKing commented on #173
This brings the following problem with it:
[code]
[code]

[2018-11-14 16:47] hvr commented on #173
*sigh* `Double` and `Float`'s special semantic values keep make subtle bugs appear everywhere :-(

[2018-11-14 19:20] NorfairKing commented on #173
@hvr There is also the problem that `NaN` causes trivial hash collisions. Although I guess that's broken as intended.

[2019-01-08 18:54] chessai opened #174 "hashable instance for primarray?"
it would be basically the same as the instance for list.

[code]

i've seen issue #108 about getting hashable instances for vector types here, but i'm not sure if that applies to primitive as well. let me know your thoughts

[2019-01-08 23:30] hvr commented on #174
@chessai that would incur an additional dependency on `primitive` which has been successfully avoided so far and this would only make it more difficult to push `class Hashable` lower down the hierarchy closer to `base`.

[2019-02-26 00:14] chessai commented on #174
Understood.

[2019-02-26 00:15] #174 closed

[2019-05-05 17:51] #95 closed

[2019-05-05 18:30] #173 closed

[2019-05-05 21:06] hvr commented on #148
Resolved by #178

[2019-05-05 21:06] #148 closed

[2019-05-05 21:52] hvr commented on #156
Resolved by #157

[2019-05-05 21:52] #156 closed

[2019-05-05 21:54] hvr commented on #116
Duplicate of #173

[2019-05-05 21:54] #116 closed

[2019-10-23 05:05] tysonzero opened #180 "It seems like Eq should be a superclass of Hashable"
`Hashable` specifically mentions `Eq` in the laws of `hashWithSalt`. It seems to me that it should then be a superclass.

It would also simplify the type signature of most uses of `Hashable`.

[2019-10-23 06:52] phadej commented on #180
I thought about the same issue recently. Failed to find any counterexample, where `Hashable` would be useful but there are not`Eq` for a type.

In fact, is there other uses of `Hashable` other than `unordered-containers`?

[2019-10-24 08:43] hvr commented on #180
Hrm... usually we make superclasses when we can reuse the superclass' impl to infer method impls of the sub-class; but it also makes sense to me to encode laws via an artificial superclass relation

[2019-10-24 11:38] tysonzero commented on #180
Personally as a general rule I do not like laws that refer to unrelated classes.

It can lead to situations where adding a valid and lawful instance retroactively makes some other (previously lawful) instance unlawful.

It can also easily be subverted by simply not defining the instance it refers to. Which means that using the typeclass doesn't have any guarantees, unless you also make sure to add

[2020-01-29 18:50] tycho01 opened #181 "‘hashWithSalt’ is not a (visible) method of class ‘Hashable’"
I am currently using `hashable` version `1.3.0.0`, and would like to define an instance on a class:
[code]
unfortunately, this yields me an error: `‘hashWithSalt’ is not a (visible) method of class ‘Hashable’`.
has anyone had a similar experience? am I doing something wrong here?

[2020-01-29 19:04] phadej commented on #181
Have you imported

[code]

or

[code]

former does not work, if you want to define instances.

[2020-01-30 15:14] tycho01 commented on #181
I'm silly. Thank you! :sweat_smile:

[2020-01-30 15:14] #181 closed

[2020-02-11 22:58] Boarders opened #182 "Make Data.Hashable.Class exposed"
Exposing this module allows uses to re-use the functions defined for writing Hashable instances. If the module is not safe then it can be marked with `Internal` or that can be in the docs.

[2020-02-21 16:02] jasonsychau opened #183 "Compile Error"
On cabal 1.24.0.2,

[code]
Do you have quick answer for this?

[2020-02-21 16:21] phadej commented on #183
Most likely you use a weird build environment, with some hacks as CPP conditionals go wrong. (Also `cabal` 1.24 is relatively old, so it might be a very old and already fixed bug).

[2020-02-21 16:24] jasonsychau commented on #183
I am trying to build in haste-cabal. Do you know anything about this?

[2020-03-25 10:40] phadej opened #184 "v1.3.0.0 tag is missing"

[2020-06-27 08:59] sjakobi opened #186 "instance Hashable1 NonEmpty"
I found this orphan instance in `hnix`. Could it be added here?

[2020-06-27 13:27] phadej commented on #186
Yes, but corresponding addition should be done in `semigroups` too. cc @RyanGlScott

[2020-06-27 18:46] RyanGlScott commented on #186
No objections on my end.

[2020-08-06 18:40] phadej opened #188 "Add support for ghc-bignum"
Can we use `ghc-bignum` directly on GHC-9.0+

EDIT: example in `integer-logarithms` https://github.com/Bodigrim/integer-logarithms/blob/1e64456f35a2d82012a477a70cd8216312422ba0/integer-logarithms.cabal#L69-L81

[2020-08-24 06:20] hvr commented on #188
Ok, but what's the benefit if we still have the cheap integer-gmp
compat-layer around (which I suspect will linger around in our
install-plans for years to come) which allows to avoid replicating those
conditionals everywhere in consumers? ;-)

[2020-08-24 06:52] #188 closed

[2020-08-24 06:56] phadej commented on #188
The same as having dependency on `void` or `nats` as conditional on older GHCs.

[2020-09-17 15:28] rleshchinskiy opened #190 "Wrong FNV prime for 64 bit hashes"
The package uses 16777619 as the prime both in https://github.com/tibbe/hashable/blob/master/cbits/fnv.c#L43 and in https://github.com/tibbe/hashable/blob/master/Data/Hashable/Class.hs#L780 . This is the 32 bit FNV prime, on 64 bit it should use 1099511628211 (https://en.wikipedia.org/wiki/Fowler%E2%80%93Noll%E2%80%93Vo_hash_function).

[2020-10-13 14:57] AndrasKovacs commented on #190
I just came here the open the same issue, good to see it already exists.

[2021-02-06 16:25] GeorgeCo opened #193 "hashable 1.3 does not install on ghc 9.0.1"

[2021-02-07 23:28] asr commented on #193
Blocking https://github.com/agda/agda/issues/4955 and https://github.com/agda/fix-whitespace/issues/13.

[2021-02-09 10:37] andreasabel commented on #193
Blocking https://github.com/maoe/lifted-async/issues/32.

[2021-02-09 21:42] chris-martin commented on #193
This is package seems like a pretty critical bottleneck for upgrading a lot of others, do we need to add more maintainers?

[2021-02-10 20:32] andreasabel commented on #193
It would be nice if this package could be moved forward quickly.  Maybe PRs #189 and #191 do the job already.

The current maintainers are here: http://hackage.haskell.org/package/hashable/maintainers/, but the last upload by @tibbe was in 2017, the newer uploads in 2018 and 2019 have been done by @hvr.

[2021-02-12 01:45] emilypi commented on #193
Just a head's up, `hashable` has 9.0 conflicts upstream that are blocking it from what amounts to a revision of the `base` bounds here. Namely,  `regex-posix`, which is @hvr's package. We'll need to get that unblocked, and then I'll either ping @tibbe directly via email, or we can have a Hackage trustee do it for us (e.g. @Mightybyte). I'm  working hard to get this unblocked, and meeting with rele

[2021-02-16 17:19] #186 closed

[2021-02-16 17:20] #127 closed

[2021-02-16 17:22] phadej commented on #180
I agree with having `Eq` as a super class of `Hashable`. However that is a very major change, so I'll take time to prepare it.

[2021-02-16 17:29] phadej commented on #184
I pushed my best guess for tag.

[2021-02-16 17:29] #184 closed

[2021-02-16 17:39] phadej commented on #182
What is missing from the public API, can you be more specific?

[2021-02-16 17:40] phadej commented on #183
I think this is issue with `haste` and `Integer` internals. I'm not able to reproduce this. I'll be happy to review a patch making `hashable` compatible with haste.

[2021-02-16 18:57] phadej commented on #193
Resolved by #195.

I'll make release soon-ish.

[2021-02-16 18:57] #193 closed

[2021-02-16 18:58] phadej commented on #168
I'd trust GHC on not exposing some unfolding. Please provide evidence that INLINABLE is in fact beneficial.

[2021-02-16 19:03] #169 closed

[2021-02-16 19:03] #190 closed

[2021-02-16 19:23] phadej commented on #163
As a small update. There is [`hashable-time`](https://hackage.haskell.org/package/hashable-time) package, which provides some `Hashable` instances. However, it will be deprecated, as I'll move `Hashable` instances directly into [`time-compat`](https://hackage.haskell.org/package/time-compat) - a package I created so I can avoid re-installing `time` but I wanted/needed new functionality from `time`

[2021-02-16 19:54] phadej commented on #155
I'm not sure I understand a motivation. `Hashed` is introduced to memoize expensive-ish hashes, so that is the same. Yet it feels that you use `hashable` as some kind of checksum, and that is wrong use-case.

[2021-02-17 22:55] flip111 commented on #168
I can not provide this evidence

[2021-02-17 22:55] #168 closed

[2021-05-14 10:29] #98 closed

[2021-05-14 11:30] phadej commented on #162
added a note in https://github.com/haskell-unordered-containers/hashable/pull/205

[2021-05-14 11:30] #162 closed

[2021-05-14 11:30] phadej commented on #139
added a note in https://github.com/haskell-unordered-containers/hashable/pull/205

[2021-05-14 11:30] #139 closed

[2021-05-14 11:30] phadej commented on #163
added a note in https://github.com/haskell-unordered-containers/hashable/pull/205

[2021-05-14 11:30] #163 closed

[2021-07-17 04:47] ddssff opened #209 "Hash values do not match across architectures with different Int sizes"
Because the result of `hash` is always `Int`, I can't make a `Hashable` instance that can produce string hashes that match across architectures.   I'd like to do this with ghc (64 bit Ints) and ghcjs (56 bit Ints.)  Anyone know a solution?

[2021-07-17 07:26] phadej commented on #209
This is by design and documented.

https://github.com/haskell-unordered-containers/hashable/blob/master/src/Data/Hashable/Class.hs#L237-L239

Duplicate of https://github.com/haskell-unordered-containers/hashable/issues/139

[2021-07-17 12:07] ddssff commented on #209
I'm not so much asking for a change to `Hashable` as wondering if there is an existing Haskell solution to my problem.

[2021-07-17 23:41] phadej commented on #209
There are libraries for cryptohashes, e.g. https://hackage.haskell.org/package/cryptohash-sha256 or cryptonite. I'm not aware of libs for "fast on some platform" hashlibs (i.e. stable but not-so-fast on non-primary platforms. Although GHCJS is usually slow, if there aren't any shims specifically for it).

Note: `hashable` is the driver for `unordered-containers`, where you shouldn't care about exa

[2021-07-17 23:41] #209 closed

[2021-07-26 13:10] TeofilC opened #210 "Consider dropping INLINE pragma on hashWithSalt"
Always marking `hashWithSalt` as INLINE can lead to large increases in code size when you have nested data types, especially when using generic instances.

I feel like the burden should be on the user to mark this function as INLINE if they feel it is worthwhile

[2021-07-26 13:57] phadej commented on #210
This is speed/size trade-off. I'll need a data backing the claim. I don't see a reason to make a change. (I'm also not sure having big `Hashable` things is a good idea to begin with).

[2021-07-26 16:18] phadej commented on #210
the `{-# INLINE hashWithSalt #-}` affects the definitions outside this package, which use generics to derive the instance.

One way to fix that is to introduce a breaking change and force users to use `DerivingVia` and therefore make an explicit choice. Just removing the `{-# INLINE #-}` will change stuff in a subtle and hard to figure out way.

Even I agree in general that it's better to not have

[2021-07-26 16:22] TeofilC commented on #210
Ah I see! I didn't know that about the behaviour of `INLINE` on default instances. I'll close this in that case. Thanks for you helpful responses!

[2021-07-26 16:22] #210 closed

[2021-08-24 15:22] jberryman opened #214 "Support text-1.3 (with UTF8 internal encoding)"
Just a heads up in light of https://github.com/haskell/text/pull/365

The test suite does not catch that when `hashable` is compiled with above the `Text` instances result in a buffer over-read

[2021-08-24 15:22] jberryman opened #215 "Test suite is not sensitive to changes `text` library internals"
Just a heads up in light of https://github.com/haskell/text/pull/365

The test suite does not catch that when `hashable` is compiled with above the `Text` instances result in a buffer over-read

[2021-08-24 15:23] jberryman commented on #215
(sorry, double post)

[2021-08-24 15:23] #215 closed

[2021-08-24 23:26] phadej commented on #214
That's why `hashable` defines an upper bound on `text`. I doubt the internal encoding change will be released as `text-1.2.x`.

[2021-08-24 23:27] phadej commented on #214
I renamed the issue. I'll look at it when `text` patch is merged. Others are free to look sooner.

[2021-09-11 21:56] phadej opened #217 "Is random-init-seed a security feature?"
... to prevent hashing collision DDoS attacks?

[2021-09-11 21:58] phadej commented on #217
It isn't. You'll need to make sure the seed doesn't leak. And restart your application often enough. At the very least.

I simply do not recommend using `hashable` with hostile data.

[2021-09-11 21:58] #217 closed

[2021-09-13 19:09] brandon-leapyear opened #218 "Support configuring default salt"
Blog post: https://cs-syd.eu/posts/2021-09-11-json-vulnerability

The biggest problem exposed by this blog post is that any third-party code using `hash` (using the default salt) that has problems with hash collisions can have malicious input constructed beforehand. The `-frandom-init-seed` flag helps with this at the cost of a different seed every start up.

One quick fix that can help mitigate t

[2021-09-13 20:28] NorfairKing commented on #218
This is _SO_ hacky that we shouldn't even merge the PR, just have people use the open PR if necessary. IMO

[2021-09-13 21:00] brandon-leapyear commented on #218
I disagree that it's "_SO_" hacky. Using environment variables to configure upstream behavior is not uncommon ([`SYSTEM_CERTIFICATE_PATH` for `x509-system`](https://github.com/vincenthz/hs-certificate/blob/7041244d0dd3946d96af66611b2760d2478e055f/x509-system/System/X509/Unix.hs#L37) or [`http_proxy` for `http-client`](https://github.com/snoyberg/http-client/blob/106951809b3e1c796ffd6cccefc4c1fad16

[2021-09-15 09:18] jappeace commented on #218
wouldn't setting HASHABLE_RANDOM_SEED work?

[2021-09-15 10:11] NorfairKing commented on #218
@jappeace yes that's a (very short-term) workaround.

[2021-09-15 15:54] brandon-leapyear commented on #218
Yes, I mentioned that in the beginning

But in some situations, you don't want it to be random on boot, such as when you need deterministic tests.

[2021-09-18 15:26] konsumlamm opened #221 "Building on 7.10 gives linker error"
Trying to build `hashable-1.3.3.0` with GHC 7.10.3 results in the following error for me:
[code]

### System

I'm running Manjaro (Linux) on x86_64.

### Additional information

I installed GHC via ghcup. My cabal version is 3.4 and the ld version is 2.36.1.
I noticed this while trying to test GHC 7.10 in the CI of `primitive`: https://github.com/haskell/primitive/pull/322.

[2021-10-03 07:23] gisenmann opened #228 "v1.3.4.0 doesn't build on 32bit"
Maybe only these two imports are missing:
[code]

[2021-10-03 10:09] hasufell commented on #228
I believe this is what broke it https://github.com/haskell-unordered-containers/hashable/pull/227

@phadej

[2021-10-03 10:11] phadej commented on #228
Thanks for the report, uploaded https://hackage.haskell.org/package/hashable-1.3.4.1 hopefully fixing the issue.

[2021-10-03 10:30] hasufell commented on #228
builds here

[2021-10-03 10:31] phadej commented on #228
@hasufell thanks for the confirmation.

[2021-10-03 10:31] #228 closed

[2021-10-05 21:37] sjakobi commented on #228
@phadej Could you add a git tag for the release?

[2021-10-06 05:30] phadej commented on #228
@sjakobi done.

[2021-10-12 03:29] fishtreesugar commented on #118
Go's map using a [hash algorithm base on CPU AES instructions](https://github.com/golang/go/blob/d90f0b920054e5e3fba981eea67fe092732a4376/src/runtime/alg.go#L311), and fallback to a [wyhash's variant (since 1.17)](https://github.com/golang/go/blob/master/src/runtime/hash64.go) when AES instructions not available

[2021-10-12 11:18] phadej commented on #118
`wyhash` is interesting, as it has 64bit internal state, so doesn't have integration problems like siphash (which internal state is larger).

also, TIL about SMHasher: https://github.com/rurban/smhasher

[2021-10-31 15:51] #180 closed

[2021-11-01 12:12] sjakobi opened #232 "Migration advice for `hashable-1.4`"
What's the best way to make code `-Wredundant-constraints`-clean with both `hashable-1.4` and older versions?

In `unordered-containers`, I'd rather not have CPP-conditionals on every function that so far required both `Eq` and `Hashable`, like this:

[code]

Is there a recommended way to achieve the same effect with less visual noise?

(CC @treeowl)

[2021-11-01 12:42] phadej commented on #232
@sjakobi don't try. That's why I suggested to do (another alterntative) release soon, with `hashable >=1.4` lower bound.

[2021-11-01 12:44] phadej commented on #232
a CPP hack is to do

[code]

but the sooner you get rid of it, the saner you'll be.

[2021-11-01 12:52] sjakobi commented on #232
Thanks for the advice, @phadej! Indeed it seems best not to change the constraints for now. We can consider requiring `hashable >= 1.4` in a few months.

Maybe leave this issue open for a bit, so other users with similar questions can find it more easily.

[2021-11-18 16:29] sjakobi opened #233 "No tag for v1.4.0.0"
I just noticed that this release doesn't seem to have a corresponding git tag.

[2021-11-18 16:31] sjakobi commented on #221
This seems related to https://gitlab.haskell.org/haskell/ghcup-hs/-/issues/123. See the suggested workaround in https://gitlab.haskell.org/haskell/ghcup-hs/-/issues/123#note_346066.

[2021-11-18 16:38] #221 closed

[2021-11-18 17:28] phadej commented on #233
Done

[2021-11-18 17:28] #233 closed

[2021-11-19 20:17] #214 closed

[2021-12-17 02:04] kazu-yamamoto opened #236 "hashable on Windows of github workflow"
Bulding hashable 1.4.0.1 on windows-latest with GHC 8.10 fails:

https://github.com/kazu-yamamoto/quic/runs/4555396751?check_suite_focus=true

Does anybody know what is the source of this problem, please let me know.

[2021-12-17 19:43] phadej opened #237 "hashable broken with containers >=0.5.9.1 on GHC-7.10.3."
[code]

We don't use `functor-classes-compat` then.

[2021-12-17 19:48] phadej commented on #237
I made a revisions for `hashable-1.4.0.0` and `hashable-1.4.0.1` to require `base-4.9`.

I'll think whether to drop GHC-7 support completely (tempting), or figure out the configuration which works.

[2021-12-19 04:16] kazu-yamamoto commented on #236
This is due to: https://gitlab.haskell.org/ghc/ghc/-/issues/18550

[2021-12-19 04:16] #236 closed

[2022-01-05 10:10] hasufell opened #240 "rejects ghc-bignum-1.1 from ghc-9.0.2"
https://github.com/haskell-unordered-containers/hashable/blob/c89eb526d0a0633c3192fd3e29be1700f16aa0fe/hashable.cabal#L96-L97

[2022-01-05 12:10] phadej commented on #240
https://github.com/haskell-unordered-containers/hashable/pull/239

[2022-01-05 14:42] phadej commented on #240
https://hackage.haskell.org/package/hashable-1.4.0.2

[2022-01-05 14:42] #240 closed

[2022-02-02 16:10] josephcsible opened #242 "Document guarantee that hash (Arg x _) == hash x"
In haskell-unordered-containers/unordered-containers#349, I'm proposing to add functions that convert between `HashMap`s with `k` as keys and ones with `Arg k v` as keys, without needing to rehash anything. For this to be safe, it needs to be the case that `hash (Arg x _) == hash x`. This is indeed the case, but the documentation doesn't currently guarantee this. It only lets us infer the weaker g

[2022-02-02 16:15] phadej commented on #242
Sure. That was a reason of `hashable-1.3.0.0` major release, so we can as well document that behavior on the instance of `Arg`, for others to rely.

I don't see any reason to change that, and if we will that will be a breaking change anyway, so we'd need to consider it properly.

[2022-02-02 16:24] josephcsible commented on #242
I thought the reason for that was just to make the weaker guarantee hold, and the fact that the stronger one holds too was just a lucky coincidence.

But in any case, this is good news, thanks. I'll write a PR for this tonight.

[2022-03-23 15:48] sjakobi opened #245 "Avoidable reboxing in `Hashable ByteString`?"
I noticed some reboxing in an `unordered-containers` benchmark that I think is related to the use of `unsafeDupablePerformIO` in the `instance Hashable ByteString`. `ds3` is boxed in `I#` just before being unboxed for some elided `u-c` operations:

[code]

https://github.com/haskell-unordered-containers/hashable/blob/fc14e37323bc32b6abe8b4da293a3aca6c5d1ecf/src/Data/Hashable/Class.hs#L705-L708

Th

[2022-03-23 16:03] phadej commented on #245
I will consider a change if `bytestring` would provide a `hashByteString` function, so I (as maintainer of `hashable`) don't need to think about `ByteString`s low-level implementation details.

Otherwise, current implementation is good balance between "fast" and "I understand how it works".

[2022-03-23 16:44] sjakobi commented on #245
That's a good question. I don't know yet. I suspect that they'd need to be pretty small.

Note though that `unsafeDupablePerformIO` is also used in the instances for `Float` and `Double` where they might make a larger impact. Although here, the main surprise to me is that a buffer is involved instead of using [`castDoubleToWord64`](https://hackage.haskell.org/package/base-4.16.0.0/docs/GHC-Float.h

[2022-04-03 00:18] sjakobi opened #246 "xxHash instead of FNV?!"
@Mistuke mentioned this algorithm in https://github.com/haskell-unordered-containers/hashable/issues/118#issuecomment-435688921.

According to https://github.com/rurban/smhasher and https://github.com/Cyan4973/xxHash it compares nicely to FNV.

AFAIK GHC already uses this algorithm in its linker.

Has there already been any research towards using it in `hashable`?

[2022-04-03 00:26] sjakobi commented on #246
One particular requirement of `hashable` is that lazy `ByteString` values and lazy `Text` values are hashed to the same output regardless of their internal chunking:

https://github.com/haskell-unordered-containers/hashable/blob/b8a718c73916ebfd8d05e1a9513c271e1ec4933f/src/Data/Hashable/Class.hs#L710-L717

https://github.com/haskell-unordered-containers/hashable/blob/b8a718c73916ebfd8d05e1a9513c27

[2022-06-20 11:21] phadej opened #252 "Add instances for type(s) in Data.Array.Byte (base-4.17)"

[2022-07-16 19:05] phadej opened #254 "Add instances for new types in `filepath`"

[2022-08-09 16:48] andreasabel opened #256 "Support GHC 9.4"
Bumps might be sufficient to build with GHC 9.4, at least `cabal build --allow-newer='hashable:*` works for me.

(Work on supporting GHC 9.4 is likely already ongoing, I mainly opened this issue for referencing.)

[2022-08-10 09:34] #252 closed

[2022-08-11 17:35] andreasabel commented on #256
Fixed by release of 1.4.1.0.

[2022-08-11 17:35] #256 closed

[2022-08-20 23:24] ulysses4ever opened #260 "Allow GHC-9.4?"

[2022-08-20 23:39] sjakobi commented on #260
See https://github.com/haskell-unordered-containers/hashable/pull/257#issuecomment-1212284779.

[2022-08-20 23:47] ulysses4ever commented on #260
Oh, sorry, this was too long of a day in trying to move cabal to 9.4...

[2022-08-20 23:47] #260 closed

[2022-11-17 13:43] MatthewDaggitt opened #261 "Unable to compile on Mac M1 architecture"
We're struggling to compile `hashable` on a Mac M1 laptop:
[code]
The error message we get is:
[code]

Do you have any advice?

[2022-11-17 14:05] phadej commented on #261
This looks like GHC issue (that `#include` is generated by GHC). Open an issue on ](https://gitlab.haskell.org/ghc/ghc/

[2022-11-18 01:38] MatthewDaggitt commented on #261
Thanks @phadej!

For those with the same problem, the relevant GHC issue is [here](https://gitlab.haskell.org/ghc/ghc/-/issues/20592) and the problem was apparently fixed in GHC 9.2.3.

[2022-11-18 01:38] #261 closed